html {
    width: 60em;
    margin: 0 auto;
}
h1 {
	background-color: green;
	color: cyan;
	font-size: 18px;
	font-weight: 18px;
}
a,li {
	font-size: 12;
	color: yellow;
	background-color: black;
	padding: 14px;
}
tittle {
	text-decoration:  underline overline;
	font-size: 32px;
	font-weight: 20px;	
	color: white;
	background-color: purple;
}

